name: Stats

on: 
  schedule:
    - cron: '10 0,12 7 * *'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Run Python script
        run: python ./my_script.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update stats
